@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh; 
  background-color:darkseagreen; 
}

.btn-container{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top:30vh;
}
.modal{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  border-radius: 20px;
  border-style: none;
  padding:10px;
  background-color:rgb(182, 151, 73);
  color:lightgreen;
}
.modal:hover{
  background-color:rgb(184, 146, 50);
  transform:scale(1.1);
  cursor: pointer;
}

.info{
  color:rgb(184, 146, 50);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
  background-color:rgb(107, 187, 107);
  max-width:50%;
  margin-top:20px;
  border-radius: 5px;;
  position: relative;
}
h1{
  padding:30px;
}
.close-modal{
  color:rgb(184, 146, 50);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 50px;
  position: absolute;
  top:-0.5rem;
  right:0.5rem;
}
.close-modal:hover{
  color:lightgreen;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  z-index: 5;
}
.hidden{
  display: none;
}

@media only screen and (min-width: 700px) {
  .modal{
    font-size: 28px;
    border-radius: 30px;
    padding:15px 20px;
    
  }
}

@media only screen and (min-width: 1200px) {
  main{
    max-width:1300px ;
  }
  .modal{
    font-size: 32px;
    padding:20px 25px;
}
}
